<!DOCTYPE html>
<html id='root'>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    

    <title>
      Digital Terrain
    </title>

    <%= javascript_include_tag 'main' %>
    <%= stylesheet_link_tag 'main', media: 'all' %>
  </head>

  <body>
    <div>
      <%= react_component('DigitalTerrainMc') %>
    </div>
  </body>
</html>