<!DOCTYPE html>
<html id='root'>
  <head>
    <title>
      Digital Terrain
    </title>

    <%= javascript_include_tag 'main' %>
  </head>

  <body style="margin:0">
    <div>
      <%= react_component('DigitalTerrainMc') %>
    </div>
  </body>
</html>